In [53]:
import sqlite3
conn = sqlite3.connect("music2101446.sqlite")
cursor = conn.cursor()


cursor.execute(''' DROP TABLE IF EXISTS Tracks ''')
conn.commit()

stmt = '''

CREATE TABLE TRACKS
(
    title text not null,
    plays int not null

)
'''

cursor.execute(stmt)

conn.commit()

In [54]:


stmt = ''' 
INSERT INTO Tracks(title,plays)
VALUES('Save Your Tears',20)
'''

cursor.execute(stmt)

stmt = ''' 
INSERT INTO Tracks(title,plays)
VALUES('Levitating',15)
'''

cursor.execute(stmt)

conn.commit()

In [55]:
stmt = ''' 

SELECT * FROM Tracks

'''

cursor.execute(stmt)
results = cursor.fetchall()

for row in results:
    print(row)

('Save Your Tears', 20)
('Levitating', 15)

In [56]:
stmt = ''' 

SELECT * FROM Tracks

'''

cursor.execute(stmt)
results = cursor.fetchone()

print(results)

('Save Your Tears', 20)

In [57]:
stmt = ''' 

SELECT * FROM Tracks

'''

cursor.execute(stmt)
results = cursor.fetchall()

print(results)

[('Save Your Tears', 20), ('Levitating', 15)]

In [58]:
stmt = ''' 

UPDATE Tracks
SET Plays = 5
WHERE title = 'Save Your Tears'

'''

cursor.execute(stmt)
conn.commit()


cursor.execute(''' SELECT * FROM Tracks ''')
print(cursor.fetchall())

[('Save Your Tears', 5), ('Levitating', 15)]

In [59]:
stmt = ''' 

DELETE FROM Tracks
WHERE plays = 5

'''

cursor.execute(stmt)
conn.commit()


cursor.execute(''' SELECT * FROM Tracks ''')
print(cursor.fetchall())

conn.close()

[('Levitating', 15)]

In [61]:
conn = sqlite3.connect("order.db")
cursor = conn.cursor()

cursor.execute(''' DROP TABLE IF EXISTS customers ''')
cursor.execute(''' DROP TABLE IF EXISTS orders ''')
conn.commit()

stmt = '''

CREATE TABLE customers
(
    customer_id int primary key,
    customer_name text

)
'''

cursor.execute(stmt)

stmt = '''

CREATE TABLE orders
(
    order_id text primary key,
    customer_id int,
    amount double,
    foreign key (customer_id)
        references customers(customer_id)

)
'''

cursor.execute(stmt)

conn.commit()


stmt = ''' 
INSERT INTO customers(customer_id,customer_name)
VALUES(1,'Arya')
'''
cursor.execute(stmt)

stmt = ''' 
INSERT INTO customers(customer_id,customer_name)
VALUES(2,'Jon')
'''
cursor.execute(stmt)

stmt = ''' 
INSERT INTO customers(customer_id,customer_name)
VALUES(3,'Robb')
'''
cursor.execute(stmt)

stmt = ''' 
INSERT INTO customers(customer_id,customer_name)
VALUES(4,'Wilson')
'''
cursor.execute(stmt)

conn.commit()

cursor.execute('''  SELECT * FROM customers ''')
result = cursor.fetchall()

for row in result:
    print(row)

(1, 'Arya')
(2, 'Jon')
(3, 'Robb')
(4, 'Wilson')

In [62]:
stmt = ''' 
INSERT INTO orders(order_id,customer_id,amount)
VALUES('O1',1,19.99)
'''
cursor.execute(stmt)

stmt = ''' 
INSERT INTO orders(order_id,customer_id,amount)
VALUES('O2',1,66.66)
'''
cursor.execute(stmt)

stmt = ''' 
INSERT INTO orders(order_id,customer_id,amount)
VALUES('O3',3,17.56)
'''
cursor.execute(stmt)

stmt = ''' 
INSERT INTO orders(order_id,customer_id,amount)
VALUES('O4',4,88.88)
'''
cursor.execute(stmt)


conn.commit()

cursor.execute('''  SELECT * FROM orders ''')
result = cursor.fetchall()

for row in result:
    print(row)

('O1', 1, 19.99)
('O2', 1, 66.66)
('O3', 3, 17.56)
('O4', 4, 88.88)

In [63]:
stmt = ''' 

SELECT * FROM customers 
INNER JOIN orders
ON customers.customer_id = orders.customer_id

'''

cursor.execute(stmt)
result = cursor.fetchall()

for row in result:
    print(row)

(1, 'Arya', 'O1', 1, 19.99)
(1, 'Arya', 'O2', 1, 66.66)
(3, 'Robb', 'O3', 3, 17.56)
(4, 'Wilson', 'O4', 4, 88.88)

In [64]:
stmt = ''' 

SELECT customer_name, order_id FROM customers 
INNER JOIN orders
ON customers.customer_id = orders.customer_id
WHERE orders.amount > 15

'''

cursor.execute(stmt)
result = cursor.fetchall()

for row in result:
    print(row)

('Arya', 'O1')
('Arya', 'O2')
('Robb', 'O3')
('Wilson', 'O4')