In [1]:
from sqlalchemy.sql.schema import Table
from sqlalchemy import Column,Integer,String,create_engine, select, update
from sqlalchemy.orm import declarative_base, sessionmaker

engine = create_engine('sqlite:///:memory:', echo=True)
Base = declarative_base()

class CLS2223T1(Base):
  __tablename__ = 'TB2103'

  sid = Column(Integer,primary_key=True)
  name = Column(String)
  grade = Column(String)

Base.metadata.create_all(engine)

2022-08-30 06:01:12,867 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2022-08-30 06:01:12,875 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("TB2103")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("TB2103")

2022-08-30 06:01:12,881 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-08-30 06:01:12,885 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("TB2103")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("TB2103")

2022-08-30 06:01:12,889 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-08-30 06:01:12,896 INFO sqlalchemy.engine.Engine
CREATE TABLE "TB2103" (
	sid INTEGER NOT NULL,
	name VARCHAR,
	grade VARCHAR,
	PRIMARY KEY (sid)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE "TB2103" (
	sid INTEGER NOT NULL,
	name VARCHAR,
	grade VARCHAR,
	PRIMARY KEY (sid)
)

2022-08-30 06:01:12,899 INFO sqlalchemy.engine.Engine [no key 0.00310s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00310s] ()

2022-08-30 06:01:12,911 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [2]:
Session = sessionmaker(bind=engine)
session = Session()

for instance in session.query(CLS2223T1):
    print(instance.sid, instance.name, instance.grade)

2022-08-30 06:01:13,591 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2022-08-30 06:01:13,601 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"

INFO:sqlalchemy.engine.Engine:SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"

2022-08-30 06:01:13,607 INFO sqlalchemy.engine.Engine [generated in 0.00596s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00596s] ()

In [3]:
new_student = CLS2223T1(sid = 2002103, name='John', grade='A')
session.add(new_student)

session.commit()

2022-08-30 06:01:13,621 INFO sqlalchemy.engine.Engine INSERT INTO "TB2103" (sid, name, grade) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "TB2103" (sid, name, grade) VALUES (?, ?, ?)

2022-08-30 06:01:13,630 INFO sqlalchemy.engine.Engine [generated in 0.00832s] (2002103, 'John', 'A')

INFO:sqlalchemy.engine.Engine:[generated in 0.00832s] (2002103, 'John', 'A')

2022-08-30 06:01:13,632 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [4]:
session.add_all([
    CLS2223T1(sid = 2002345, name='Sansa Stark', grade='NA'),
    CLS2223T1(sid = 2002346, name='Jon Snow', grade='NA')  
    ]
)

session.commit()

for instance in session.query(CLS2223T1):
    print("Student:" , instance.sid, instance.name, instance.grade)

2022-08-30 06:01:13,642 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2022-08-30 06:01:13,650 INFO sqlalchemy.engine.Engine INSERT INTO "TB2103" (sid, name, grade) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "TB2103" (sid, name, grade) VALUES (?, ?, ?)

2022-08-30 06:01:13,656 INFO sqlalchemy.engine.Engine [generated in 0.00545s] ((2002345, 'Sansa Stark', 'NA'), (2002346, 'Jon Snow', 'NA'))

INFO:sqlalchemy.engine.Engine:[generated in 0.00545s] ((2002345, 'Sansa Stark', 'NA'), (2002346, 'Jon Snow', 'NA'))

2022-08-30 06:01:13,663 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-08-30 06:01:13,669 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2022-08-30 06:01:13,688 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"

INFO:sqlalchemy.engine.Engine:SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"

2022-08-30 06:01:13,694 INFO sqlalchemy.engine.Engine [cached since 0.09324s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 0.09324s ago] ()

Student: 2002103 John A
Student: 2002345 Sansa Stark NA
Student: 2002346 Jon Snow NA

In [5]:
# updating_one = session.query(CLS2223T1).filter_by(name='Jon Snow').first()

# stmt = (
#         update(CLS2223T1).
#         where(CLS2223T1.sid == 2003456).
#         values(grade='A-')

# )

updating_one = session.query(CLS2223T1).filter_by(name='Jon Snow').first()
updating_one.grade = 'A-'

session.commit()
for instance in session.query(CLS2223T1):
    print("Student:" , instance.sid, instance.name, instance.grade)

2022-08-30 06:01:13,718 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
WHERE "TB2103".name = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
WHERE "TB2103".name = ?
 LIMIT ? OFFSET ?

2022-08-30 06:01:13,729 INFO sqlalchemy.engine.Engine [generated in 0.01131s] ('Jon Snow', 1, 0)

INFO:sqlalchemy.engine.Engine:[generated in 0.01131s] ('Jon Snow', 1, 0)

2022-08-30 06:01:13,737 INFO sqlalchemy.engine.Engine UPDATE "TB2103" SET grade=? WHERE "TB2103".sid = ?

INFO:sqlalchemy.engine.Engine:UPDATE "TB2103" SET grade=? WHERE "TB2103".sid = ?

2022-08-30 06:01:13,746 INFO sqlalchemy.engine.Engine [generated in 0.00858s] ('A-', 2002346)

INFO:sqlalchemy.engine.Engine:[generated in 0.00858s] ('A-', 2002346)

2022-08-30 06:01:13,750 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-08-30 06:01:13,759 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2022-08-30 06:01:13,762 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"

INFO:sqlalchemy.engine.Engine:SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"

2022-08-30 06:01:13,766 INFO sqlalchemy.engine.Engine [cached since 0.1654s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 0.1654s ago] ()

Student: 2002103 John A
Student: 2002345 Sansa Stark NA
Student: 2002346 Jon Snow A-

In [6]:
updating_two = session.query(CLS2223T1).filter_by(name='John').first()
updating_two.grade = 'A+'

session.commit()
for instance in session.query(CLS2223T1):
    print("Student:" , instance.sid, instance.name, instance.grade)

2022-08-30 06:01:13,791 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
WHERE "TB2103".name = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
WHERE "TB2103".name = ?
 LIMIT ? OFFSET ?

2022-08-30 06:01:13,804 INFO sqlalchemy.engine.Engine [cached since 0.08608s ago] ('John', 1, 0)

INFO:sqlalchemy.engine.Engine:[cached since 0.08608s ago] ('John', 1, 0)

2022-08-30 06:01:13,809 INFO sqlalchemy.engine.Engine UPDATE "TB2103" SET grade=? WHERE "TB2103".sid = ?

INFO:sqlalchemy.engine.Engine:UPDATE "TB2103" SET grade=? WHERE "TB2103".sid = ?

2022-08-30 06:01:13,812 INFO sqlalchemy.engine.Engine [cached since 0.075s ago] ('A+', 2002103)

INFO:sqlalchemy.engine.Engine:[cached since 0.075s ago] ('A+', 2002103)

2022-08-30 06:01:13,816 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-08-30 06:01:13,819 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2022-08-30 06:01:13,823 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"

INFO:sqlalchemy.engine.Engine:SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"

2022-08-30 06:01:13,826 INFO sqlalchemy.engine.Engine [cached since 0.2254s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 0.2254s ago] ()

Student: 2002103 John A+
Student: 2002345 Sansa Stark NA
Student: 2002346 Jon Snow A-

In [7]:
deleting_one = session.query(CLS2223T1).filter_by(name='Sansa Stark').first()
session.delete(deleting_one)

session.commit()

for instance in session.query(CLS2223T1):
    print("Student:" , instance.sid, instance.name, instance.grade)

2022-08-30 06:01:13,841 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
WHERE "TB2103".name = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
WHERE "TB2103".name = ?
 LIMIT ? OFFSET ?

2022-08-30 06:01:13,846 INFO sqlalchemy.engine.Engine [cached since 0.1274s ago] ('Sansa Stark', 1, 0)

INFO:sqlalchemy.engine.Engine:[cached since 0.1274s ago] ('Sansa Stark', 1, 0)

2022-08-30 06:01:13,850 INFO sqlalchemy.engine.Engine DELETE FROM "TB2103" WHERE "TB2103".sid = ?

INFO:sqlalchemy.engine.Engine:DELETE FROM "TB2103" WHERE "TB2103".sid = ?

2022-08-30 06:01:13,854 INFO sqlalchemy.engine.Engine [generated in 0.00340s] (2002345,)

INFO:sqlalchemy.engine.Engine:[generated in 0.00340s] (2002345,)

2022-08-30 06:01:13,857 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-08-30 06:01:13,861 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2022-08-30 06:01:13,865 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"

INFO:sqlalchemy.engine.Engine:SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"

2022-08-30 06:01:13,868 INFO sqlalchemy.engine.Engine [cached since 0.2671s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 0.2671s ago] ()

Student: 2002103 John A+
Student: 2002346 Jon Snow A-

In [8]:
delete_count = session.query(CLS2223T1).count()

for i in range(delete_count):
  deleting = session.query(CLS2223T1).first()
  session.delete(deleting)

for instance in session.query(CLS2223T1):
    print("Student:" , instance.sid, instance.name, instance.grade)

2022-08-30 06:01:13,884 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103") AS anon_1

INFO:sqlalchemy.engine.Engine:SELECT count(*) AS count_1
FROM (SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103") AS anon_1

2022-08-30 06:01:13,893 INFO sqlalchemy.engine.Engine [generated in 0.00854s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00854s] ()

2022-08-30 06:01:13,897 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
 LIMIT ? OFFSET ?

2022-08-30 06:01:13,899 INFO sqlalchemy.engine.Engine [generated in 0.00276s] (1, 0)

INFO:sqlalchemy.engine.Engine:[generated in 0.00276s] (1, 0)

2022-08-30 06:01:13,904 INFO sqlalchemy.engine.Engine DELETE FROM "TB2103" WHERE "TB2103".sid = ?

INFO:sqlalchemy.engine.Engine:DELETE FROM "TB2103" WHERE "TB2103".sid = ?

2022-08-30 06:01:13,906 INFO sqlalchemy.engine.Engine [cached since 0.05599s ago] (2002103,)

INFO:sqlalchemy.engine.Engine:[cached since 0.05599s ago] (2002103,)

2022-08-30 06:01:13,909 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
 LIMIT ? OFFSET ?

2022-08-30 06:01:13,911 INFO sqlalchemy.engine.Engine [cached since 0.01448s ago] (1, 0)

INFO:sqlalchemy.engine.Engine:[cached since 0.01448s ago] (1, 0)

2022-08-30 06:01:13,914 INFO sqlalchemy.engine.Engine DELETE FROM "TB2103" WHERE "TB2103".sid = ?

INFO:sqlalchemy.engine.Engine:DELETE FROM "TB2103" WHERE "TB2103".sid = ?

2022-08-30 06:01:13,916 INFO sqlalchemy.engine.Engine [cached since 0.06601s ago] (2002346,)

INFO:sqlalchemy.engine.Engine:[cached since 0.06601s ago] (2002346,)

2022-08-30 06:01:13,919 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"

INFO:sqlalchemy.engine.Engine:SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"

2022-08-30 06:01:13,921 INFO sqlalchemy.engine.Engine [cached since 0.3203s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 0.3203s ago] ()